.container {
  display: flex;
  justify-content: center;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 20px;
  margin-left: 10px;
  position: fixed;
  z-index: 1000;
}

.navbar h1 {
  color: #fff;
  margin: 0;
  font-size: 24px;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navUl {
  margin-right: 30px;
}

.dropDown {
  border-bottom: #ff2e00 1px dashed;
  margin: 0;
  padding: 12px;
  position: relative;
  display: inline-block;
}

.navbarLi {
  margin-left: 20px;
}

.dropDownButton {
  padding: 8px 5px 8px 5px;
  border-right: #ff5733 2px solid;
  background-color: #333;
  border-radius: 6px;
  transition: all 0.2s;
}
.dropDownButton:hover {
  border: none;
  border-right: #ff2e00 2px solid;
  background-color: #3b3b3b;
  transform: translateY(-2px);
}

.contactLink {
  color: #fff;
}
.contactLink:hover {
  color: #fff;
}

.dropDownMenu a {
  font-size: 14px;
  color: rgb(216, 216, 216);
  background-color: #545454;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropDownMenu a:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.dropDownMenu a:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.dropDownMenu a:hover {
  color: #ff5733;
  transform: translateY(-2px);
  transition: all 0.2s;
}

.navSearchContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  align-items: center;
}

.navSearchInput {
  background-color: #333;
  width: 200px;
  padding: 8px;
  border: 1px solid #ff2e00;
  border-radius: 3px;
  margin-right: 10px;
}

.navSearchButton {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
  transition: all 0.3s;
}

.navSearchButton:hover {
  background-color: #ff2e00;
  transform: translateY(-2px);
}

.searchContainer {
  position: relative;
}

.sugegestionBox {
  border: 1px solid #ccc;
  background-color: #fff;
  list-style-type: none;
  padding: 10px;
  position: absolute;
  top: 40px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sugegestionBox li {
  padding: 5px;
  cursor: pointer;
}

.sugegestionBox li:hover {
  background-color: #f0f0f0;
}

/* .dropDown {
} */

/* .dropDownButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
} */

.dropDownMenu {
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/*.dropDownMenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropDownMenu a:hover {
 
} */

.loginLink {
  color: #fff;
}
.loginLink:hover {
  color: #fff;
}
